<% if @page.errors.any? %>
  <div class="errors">
    <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @page] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :portfolio_item do %>
    <%= f.check_box :portfolio_item %>
    Portfolio Item
  <% end  %>


  <%= field_set_tag "Photos" do %>

    <div id="photos">
      <div>
        <%= f.fields_for :photos do |photo| %>
          <%= render 'photo_fields', f: photo %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association 'Add Photo', f, :photos %>
      </div>
    </div>
  <% end %>


  <%= f.submit "Save" %>

<% end %>
