<% p.each do |p| %>
<tr>
  <td><%= p.id %></td>
  <td><%= link_to p.title, Rails.application.routes.url_helpers.send("admin_#{p.class.name.underscore.downcase}_path", p) %></td>
  <td><%= p.created_at %></td>
  <td><%= link_to p.published? ? 'Published' : 'Unpublished', admin_doc_path(p), method: :patch %></td>
  <td><%= link_to "Edit", Rails.application.routes.url_helpers.send("edit_admin_#{p.class.name.underscore.downcase}_path", p) %></td>
</tr>

<% end %>
