<% p.each do |p| %>
<tr>
  <td><%= p.id %></td>
  <td><%= p.title %></td>
  <td><%= p.created_at %></td>
  <td><%= link_to p.published? ? 'Published' : 'Unpublished', admin_doc_path(p), method: :patch %></td>
  <td><%= link_to "Edit", (p.class.to_s.underscore) + "s/#{p.id}/edit" %></td>
</tr>

<% end %>
