<%= simple_form_for [:admin, p], html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.label "pb", for: 'portfolio_item_published'  %>
  <%= f.check_box :published %>
  <div id="images">
    <%= f.simple_fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add image', f, :images %>
    </div>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to "Back", Rails.application.routes.url_helpers.send("admin_#{p.class.name.underscore.downcase}_path", p) %>
