<div class="nested-fields">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image%>
  <!-- Render the image already uploaded -->
  <%= image_tag f.object.image, size: '180x180' %>
  <%= f.object.image_url %>
  <%= link_to_remove_association "remove image", f %>
</div>
